$blue-color = #134aa1;
$blue-header-color = #001c3b;
$description-color = #44a5de;
$blue-footer-color = #284f83;
$bluegreen-footer-color = #24b4b7;
$green-hr-color = #ceef40;
$lightgrey-color = #d2d2d2;
$text-color = #6b6966;
$title-color = #48443e;
$blue-title-color = #0049a5;
$white-color = #ffffff;


$darkorange-color = #da472d;
$lightpurple-color = #a31350;
$purple-color = #231a9c;
$pink-color = #f9237e;