.create-form {
  max-width: 1100px;
  width: 100%;
  padding: 0 20px;
  margin: 20px auto;
}
.create-form__title {
  font-size: 40px;
  margin: 20px 0 32px;
  font-weight: 100;
  text-transform: uppercase;
  color: $blue-title-color;
  text-align: center;
}
.create-form__text {
  line-height: 20px;
  font-size: 18px;
  font-weight: normal;
  color: $text-color;
  text-align: center;
}
.create-form__form {
  width: 386px;
  margin: 46px auto;
}
.create-form__md-block {
  position: relative;
  margin: 6px 0;
  height: 48px;

  .md-char-counter, md-input-container .md-input-message-animation {
    font-size: 10px;
    line-height: 8px;
    color: $lightgrey-color;
  }

  &:not(md-input-invalid) {
    &.md-input-focused {
      .create-form__form-input.md-input {
        border-color: $blue-footer-color;
        border-bottom-width: 1px;
      }
      .create-form__form-label {
        color: $blue-footer-color;
      }

    }

    &.md-input-has-value {
      .create-form__form-input.md-input {
        color: $text-color;
      }
    }
  }
}
.create-form__form-label {
  font-size: 18px;
  line-height: 32px;
}
.create-form__form-input {
  font-size: 18px;
}

.create-form__form-select {
  position: relative;
  font-size: 18px;
  margin-bottom: 20px;

  &:not([disabled]):focus ._md-select-value{
    border-color: $blue-footer-color;
    border-bottom-width: 1px;
  }

  span {
    color: $text-color;
    position: relative;
    top: -6px;
  }
  ._md-select-value ._md-select-icon{
    color: $lightgrey-color;
  }
}

md-select-menu md-content md-option[selected] {
  color: $blue-footer-color;
}
.create-form__form-btn {
  display: block;
  width: 356px;
  margin: 54px auto;
  padding: 8px 0;
  font-size: 30px;
  color: $pink-color
  text-align: center;
  background: transparent;
  border: none;
  outline: none;

  .create-form__form-btn-quote {
    font-size: 48px;
    line-height: 56px;
    vertical-align: baseline;
  }
  .create-form__form-btn-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: $pink-color;
    vertical-align: baseline;
  }
}

@media screen and (max-width: 959px) {
  .create-form__title {
    font-size: 36px;
  }
  .create-form__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .create-form__title {
    font-size: 24px;
    margin: 20px 0;
  }
  .create-form__text {
    font-size: 14px;
  }
  .create-form__form {
    margin: 30px auto;
  }
  .create-form__form-btn {
    margin: 40px auto;
    font-size: 24px;

    .create-form__form-btn-quote {
      font-size: 32px;
    }
  }
}
@media screen and (max-width: 599px) {
  .create-form__form-btn {
    margin: 20px auto;
    max-width: 320px;
    width: 100%;
    font-size: 18px;

    .create-form__form-btn-quote {
      font-size: 26px;
    }
  }

  .create-form__form {
    max-width: 386px;
    width: 100%;
    padding: 0;
    margin: 20px auto;
  }
  .create-form__title {
    text-align: left;
  }
  .create-form__text {
    text-align: left;
  }
  .create-form__form {
    margin: 30px auto;
  }
}