@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic';

@require 'common/variables';
@require 'common/*';
@require 'description/*';
@require 'details/*';
@require 'form/*';

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  font-size: 0;

  * {
    box-sizing: border-box;
  }
}